.container {
  /* Flex container styling */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 20rem;
  width: 100%;
  padding: 3rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background-color: #006992;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.3);

  /* Styling for the heading */
  h1 {
    color: #eaf8bf;
    animation: moveInLeft 1s ease-in-out;
  }

  /* Styling for the count display */
  span {
    font-size: 5rem;
    color: #eaf8bf;
  }

  /* Styling for the button container */
  .btn-container {
    display: flex;
    justify-content: space-evenly;

    /* Styling for buttons */
    .btn {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      font-family: "Tektur", cursive;
      text-transform: uppercase;
      font-size: 0.55rem;
      letter-spacing: 0.08rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      /* Button hover state */
      &:hover {
        transform: translateY(-0.2rem);
        background-color: #eca400;
        color: #001d4a;
        font-weight: 500;
      }

      /* Button active state */
      &:active {
        transform: translateY(0rem);
      }
    }

    /* Apply animation to buttons with class btn-animation */
    .btn.btn-animation {
      animation: moveInBottom 0.8s ease-in-out;
    }
  }
}

/* Animation keyframes for moving in from the left */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }

  70% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation keyframes for moving in from the bottom */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
